<!DOCTYPE html>
<html>
<head>
    <title>Cafetería</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Control de café ☕</h1>

    <h2>Pagador recomendado: {{ pagador }}</h2>

    <h3>Personas</h3>
    <ul>
        {% for p in personas %}
            <li>
                {{ p }} |
                Debe: {{ data[p]["debe"] }} € |
                Pagado: {{ data[p]["pagado"] }} €
            </li>
        {% endfor %}
    </ul>

    <h3>Registrar consumo</h3>

    <form action="/registrar" method="post">
        <label>Pagador:</label>
        <select name="pagador">
            {% for p in personas %}
                <option value="{{ p }}">{{ p }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Beneficiarios (separados por coma):</label>
        <input type="text" name="beneficiarios" placeholder="JoseG, Kike">

        <br><br>

        <button type="submit">Registrar</button>
    </form>
</body>
</html>
