<!DOCTYPE html>
<html>
<head>
    <title>Café</title>
</head>
<body>

<h1>☕ Café</h1>

<hr>

<h3>1. Selecciona asistentes</h3>

<form action="/preview" method="post">
    {% for p in personas %}
        <input type="checkbox" name="asistentes" value="{{ p }}"
        {% if asistentes and p in asistentes %}checked{% endif %}>
        {{ p }} <br>
    {% endfor %}

    <br>
    <button type="submit">Calcular pagador sugerido</button>
</form>

<hr>

{% if sugerido %}

<h3>2. Confirmar pagador</h3>

<form action="/registrar" method="post">

    <input type="hidden" name="asistentes" value="{{ asistentes|join(',') }}">

    <label>Pagador:</label>
    <select name="pagador">

        {% for p in asistentes %}

            <option value="{{ p }}"
            {% if p == sugerido %}selected{% endif %}>
                {{ p }}
            </option>

        {% endfor %}

    </select>

    <br><br>

    <button type="submit">Registrar café</button>
</form>

{% endif %}

</body>
</html>
